@import "lib/vars";
@import "lib/reboot";
@import "lib/keyframes";
@import "lib/fontface";

@import "lib/colors";
@import "lib/typo";
@import "lib/utils";

@import "partials/layout";
@import "partials/modals";




* {
    &:not(a) {
        border: 1px solid pink;
    }
}

#menu_page,
#settings_page,
#leaderboard_page {
    display: flex;
    flex-direction: column;

    header, footer, .hscore {
        width: 100%;
    }

    .main, .slider, .lboard {
        width: 100%;
        flex-basis: 100%;
    }
}

#main_page {
    display: flex;
    flex-direction: column;

    .ui {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .game {
        flex-basis: 100%;
        width: 100%;
    }
}

#splas_img {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 100%;
}

progress {
    margin-left: 10px;
    position: relative;
    top: 3px;
    border-radius: 5px;
    border: 1px solid black;

    &::-webkit-progress-value {
        background: lightblue;
    }

    &::-webkit-progress-bar {
        background: #eee;
    }
}
  
  
  
  
  
  
  