@import "lib/vars";
@import "lib/reboot";
@import "lib/keyframes";
@import "lib/fontface";

@import "lib/colors";
@import "lib/typo";
@import "lib/utils";

@import "partials/layout";
@import "partials/modals";




* {
    &:not(a) {
        border: 1px solid pink;
    }
}

#menu_page,
#settings_page,
#leaderboard_page {
    display: flex;
    flex-direction: column;

    header, footer, .hscore {
        width: 100%;
    }

    .main, .slider, .lboard {
        width: 100%;
        flex-basis: 100%;
    }
}